
<div class="RegBox">
    <div class="ContactRegBox">
        <p>Hello! Welcome @ViewBag.Pronoun @ViewBag.FirstName @ViewBag.LastName</p>
        <p>Frothy Clouds Coffee has the following info on file.</p>
        <p><br /></p>
        <p><br /></p>
        <p>Phone: @ViewBag.Phone</p>
        <p>Email: @ViewBag.Email</p>
    </div>
    </div>
